/* Základní CSS */

html {
    box-sizing: border-box;
}
  
*, ::before, ::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#615dad, #ffc8da);
    background-attachment: fixed;
    background-size: cover;
}

p {
    font-family: sans-serif;
    font-size: 1rem;
}

/* Tlačítka */

.button--green {
    color: #fff;
    background-color: #1fcca4;
}

.button--green:hover,
.button--green:focus {
    background-color: #1cbb96;
}

.button--blue {
    color: #fff;
    background-color: #0197f6;
}

.button--blue:hover,
.button--blue:focus {
    background-color: #0090e9;
}

/* Sekce Piškvorky */

.tic-tac-toe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 400px;
    max-width: 80vmin;
    background-color: #283e50;
    border-radius: 2% 2% 0 0;
    color: #fff;
    text-align: center;
}

/* Sekce Piškvorky – Obrázek */

.tic-tac-toe__image {
    width: 100%;
    border-radius: 2% 2% 0 0;
}

/* Sekce Piškvorky – Info */

.tic-tac-toe__title {
    font-family: "Lobster", serif;
    font-size: 2rem;
}

.tic-tac-toe__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

/* Sekce Piškvorky – Rozcestník */

.tic-tac-toe__menu {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.tic-tac-toe__button {
    width: 100%;
    padding: 1rem 2rem;
    display: block;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

/* Sekce hra */

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    width: 100%;
    max-width: 80vmin;
    color: #fff;
}

.game__title {
    font-family: "Lobster", serif;
    font-size: 4rem;
    text-align: center;
}

/* Sekce Hra – Info */

.game__info {
    display: flex;
    justify-content: space-between;
}

.game__player {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.game__player p {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.game__menu {
    display: flex;
    gap: 0.5rem;
}

.game__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8%;
}

/* Sekce Hra – Mřížka */

.game__board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 2px solid #696969;
    background: #dcdcdc;
}

.game__square {
    aspect-ratio: 1;
    border: 2px solid #696969;
    background: none;
    cursor: pointer;
}

.game__square:hover,
.game__square:focus {
    background-color: #f5f5f5;
}

.game__square--circle {
    background-image: url("img/circle-black.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.game__square--cross {
    background-image: url("img/cross-black.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.player__symbol {
    width: 50px;
    height: 50px;
    background-size: cover;
}
  
.player__symbol--circle {
    background-image: url('img/circle-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.player__symbol--cross {
    background-image: url('img/cross-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

/* Animace */

@keyframes clickZoom {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
  
.game__square--circle,
.game__square--cross {
animation: clickZoom 0.15s ease forwards;
transform-origin: center;
}