/* Základní CSS */

html {
    box-sizing: border-box;
}
  
*, ::before, ::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(#615dad, #ffc8da);
    background-attachment: fixed;
    background-size: cover;
}

/* Tlačítka */

.tlacitko--zelena {
    background-color: #1fcca4;
}

.tlacitko--zelena:hover,
.tlacitko--zelena:focus {
    background-color: #1cbb96;
}

.tlacitko--modra {
    background-color: #0197f6;
}

.tlacitko--modra:hover,
.tlacitko--modra:focus {
    background-color: #0090e9;
}

/* Sekce Piškvorky */

.piskvorky {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 400px;
    max-width: 80vmin;
    background-color: #283e50;
    border-radius: 2% 2% 0 0;
    text-align: center;
}

/* Sekce Piškvorky – Obrázek */

.piskvorky__obrazek img {
    width: 100%;
    border-radius: 2% 2% 0 0;
}

/* Sekce Piškvorky – Info */

h1 {
    margin-bottom: 1rem;
    font-family: "Lobster", serif;
    font-size: 2rem;
}

p {
    font-family: sans-serif;
    font-size: 1rem;
}

.piskvorky__info {
    padding: 0 1rem;
}

/* Sekce Piškvorky – Rozcestník */

.piskvorky__rozcestnik {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.piskvorky__tlacitko {
    width: 100%;
    padding: 1rem 2rem;
    display: inline-block;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

/* Sekce hra */

.hra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 80vmin;
    padding-bottom: 2rem;
}

.hra__nadpis {
    margin-bottom: 1rem;
    padding-top: 2rem;
    font-family: "Lobster", serif;
    font-size: 4rem;
    text-align: center;
}

/* Sekce Hra – Info */

.hra__info {
    display: flex;
    justify-content: space-between;
}

.hra__hrac {
    display: flex;
}

.hra__checkbox {
    display: none;
}

.hra__label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    cursor: pointer;
}

.hra__label p {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.hra__ovladani {
    display: flex;
    gap: 0.5rem;
}

.hra__ikona {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8%;
}

/* Sekce Hra – Mřížka */

.hra__mrizka {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid #000;
    opacity: 0.5;
    gap: 0px;
}

.hra__policko {
    aspect-ratio: 1;
    border: 1px solid #000;
    cursor: pointer;
}

.hra__policko:hover,
.hra__policko:focus {
    background-color: #fff;
}